body {
  background-color: #0a1828;
}
.hero {
  height: 100vh;
  padding: 0 20px;
}
#nav a {
  color: #178582;
}
#about_me h1,
p {
  color: #bfa181;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#about_me h1 {
  font-size: 60px;
}
.lead {
  font-size: 20px;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23178582' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #178582;
  background-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

/* Projects section */
.projects {
  height: 100vh;
}

.project_header {
  height: 10%;
  justify-content: end;
  padding-left: 20px;
}
.project_header h2 {
  border-bottom: solid #178582;
  font-size: 30px;
  color: #bfa181;
  padding-bottom: 5px;
  width: 90%;
}
.card_wrap {
  display: flex;
  justify-content: center;
}

.project_container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

.btn {
  height: auto;
  width: 100px;
  font-size: 10px;
  border-radius: 6em;
}

.card img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 0;
}
.card {
  border: transparent;
}
.card-body {
  height: 200px;
  width: 100%;
  color: var(#f5f8fa);
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.techs li {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;

  border-radius: 0.375rem;
  background-color: #fbfbfb;
}

/* Game Yap card */

.gameYap {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background: radial-gradient(
    circle,
    rgba(38, 5, 5, 1) 0%,
    rgba(68, 9, 110, 1) 35%,
    rgba(20, 6, 64, 1) 100%
  );
}

/* Weather forecast */
.weather {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #185f6e;
  background: linear-gradient(
    90deg,
    rgba(24, 95, 110, 1) 0%,
    rgba(94, 124, 145, 1) 35%,
    rgba(24, 95, 110, 1) 100%
  );
}
