body {
  background-color: #ffffff;
}
.hero {
  height: 75vh;
  padding: 0 20px;
  flex-direction: column;
}
#nav a {
  color: #0d1b2a;
}
.pfp {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
  object-fit: cover;
}
#about_me h1,
p {
  color: #0d1b2a;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#about_me h1 {
  font-size: 60px;
}
#about_me {
  width: 90%;
}
i {
  padding-left: 5px;
}
main {
  width: 100%;
}
.lead {
  font-size: 20px;
}

.sub_text {
  font-size: 12px;
  text-align: left;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%230D1B2A' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #0d1b2a;
  background-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

/* Projects section */
.projects {
  height: 100vh;
}

.project_header {
  height: 10%;
  justify-content: end;
  padding-left: 20px;
}
.project_header h1 {
  border-bottom: solid #0d1b2a;
  font-size: 30px;
  color: #0d1b2a;
  padding-bottom: 5px;
  width: 90%;
}
.card_wrap {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

/*.project_container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}
*/
.btn {
  height: auto;
  width: 100px;
  font-size: 10px;
  border-radius: 6em;
}

.card img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 0;
}
.card {
  width: 19rem;
  border: transparent;
}
.card-body {
  height: 200px;
  width: 100%;
  color: var(#f5f8fa);
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  background-color: #f2f4f5;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.techs li {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;

  border-radius: 0.375rem;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%0D1B2A'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%0D1B2A'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1d9;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
/* Game Yap card */

.gameYap {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background: radial-gradient(
    circle,
    rgba(38, 5, 5, 1) 0%,
    rgba(68, 9, 110, 1) 35%,
    rgba(20, 6, 64, 1) 100%
  );
}

/* Weather forecast */
.weather {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #185f6e;
  background: linear-gradient(
    90deg,
    rgba(24, 95, 110, 1) 0%,
    rgba(94, 124, 145, 1) 35%,
    rgba(24, 95, 110, 1) 100%
  );
}
/* Note Taker */
.note_taker {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #54a9d1;
  background: radial-gradient(
    circle,
    rgba(84, 169, 209, 1) 0%,
    rgba(117, 117, 199, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.movie_nest {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(135, 19, 19, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}

/* contact form */

#contact {
  height: 80vh;
}
.contact_container {
  width: 85%;
}
#email_body {
  height: 150px !important;
}
form {
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  padding: 35px;
  border-radius: 15px;
}
/*media queries*/
@media (min-width: 400px) and (min-height: 750px) {
  .pfp {
    width: 200px;
    height: 200px;
  }
  .sub_text {
    font-size: 15px;
  }
  .btn {
    width: 200px;
    height: 50px;
  }
  .button_container a {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card img {
    height: 250px;
    width: 250px;
  }
  #contact {
    display: flex;
    justify-content: center;
  }
  footer {
    font-size: 20px;
  }
  form {
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    padding: 35px;
    border-radius: 15px;
    row-gap: 10px;
  }
}
@media (min-width: 700px) and (min-height: 750px) {
  .pfp {
    width: 250px;
    height: 250px;
  }
  .card {
    width: 35rem;
    height: 70vh;
  }
  .sub_text {
    font-size: 20px;
  }
  .card img {
    width: 350px;
    height: 350px;
  }
  .card-body {
    row-gap: 10px;
    height: 60vh;
  }
  .btn {
    font-size: 20px;
    margin-top: 30px;
  }
  .button_container a {
    font-size: 20px;
  }
  .techs li {
    font-size: 25px;
    margin-top: 30px;
  }
  .card-title {
    font-size: 35px;
    font-weight: bold;
  }
  form {
    row-gap: 20px;
    font-size: 25px;
  }
  footer {
    font-size: 30px;
  }
  .card_wrap {
    margin-top: 0;
  }
}
@media (min-width: 900px) and (min-height: 1100px) {
  .container a {
    font-size: 25px;
  }
  .project_header h1 {
    font-size: 55px;
  }
  .pfp {
    width: 350px;
    height: 350px;
  }
  .sub_text {
    font-size: 27px;
    font-weight: 400;
  }
  .btn {
    width: 300px;
    height: 100px;
  }
  .button_container a {
    font-size: 30px;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  .pfp {
    width: 350px;
    height: 350px;
  }
  .cards_wrap {
    display: flex;
    justify-content: center;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
    margin-top: 50px;
  }
  .project_header h1 {
    font-size: 45px;
    margin-bottom: 3px solid black;
    width: 95%;
  }
  .card_wrap {
    margin-top: 0;
  }
  .container {
    width: 95% !important;
  }
}
@media (min-width: 1500px) {
  .card img {
    height: 450px;
    width: 450px;
  }
  #about_me {
    width: 50%;
    margin-top: 90px;
  }
  .hero {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .carousel-inner {
    margin-top: 100px;
  }
  .container a {
    margin-top: 20px;
    font-size: 20px;
  }
  .card {
    width: 45rem;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
  }
  .container a {
    font-size: 30px;
  }
  #name_input {
    height: 50px;
  }
  #email_input {
    height: 50px;
  }
}
